<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>exp</key>
		<dict>
			<key>delay</key>
			<string>0.05</string>
			<key>frames</key>
			<array>
				<string>0.png</string>
				<string>1.png</string>
				<string>2.png</string>
				<string>3.png</string>
				<string>4.png</string>
				<string>5.png</string>
				<string>6.png</string>
				<string>7.png</string>
				<string>8.png</string>
				<string>9.png</string>
				<string>10.png</string>
				<string>11.png</string>
				<string>12.png</string>
				<string>13.png</string>
				<string>14.png</string>
				<string>15.png</string>
				<string>16.png</string>
				<string>17.png</string>
				<string>18.png</string>
				<string>19.png</string>
				<string>20.png</string>
				<string>21.png</string>
				<string>22.png</string>
				<string>23.png</string>
			</array>
		</dict>
	</dict>
	<key>textureFileName</key>
	<string>exp_texture.plist</string>
</dict>
</plist>